--- 

name: "Publish Docker image"

on: 
  release: 
    types: [published]
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs: 

  push_to_registry: 
    name: "Push Docker image to Docker Hub"
    runs-on: ubuntu-latest
    steps: 
      - 
        name: "Check out the repo"
        uses: actions/checkout@v3
      - 
        name: "Log in to Docker Hub"
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with: 
          password: "${{ secrets.DOCKER_PASSWORD }}"
          username: "${{ secrets.DOCKER_USERNAME }}"
      - 
        id: meta
        name: "Extract metadata (tags, labels) for Docker"
        uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
        with: 
          images: allanmoso/gitworkshop-common 
      - 
        name: "Build and push Docker image"
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with: 
          context: "."
          labels: "${{ steps.meta.outputs.labels }}"
          push: true
          tags: "${{ steps.meta.outputs.tags }}"
          file: "Dockerfile.common"
